---
---

@import "{{ site.theme }}";

h1 {
  font-size: 34px;
}

strong {
 color:#222;
 font-weight:700
}

ul { 
  padding-left: 1.2em; 
}

@media print, screen and (max-width: 960px) {
  footer {
    text-align: center;
  }
  header {
    padding: 0px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
 }
}

@media print, screen and (max-height: 755px) {
  footer {
  float:right;
  position: relative;
  width: 500px;
  margin-top: 0px;
  text-align: center;
  }
}
