<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
    <link rel="shortcut icon" type="image/x-png" href="{{ "/assets/img/logo_transparent.png"  | absolute_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="https://kit.fontawesome.com/5e02bc74a0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Dim Hoogeveen</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Profile picture" />
        {% endif %}

        <p>Interested in exploring new possibilities and solving (complex) problems; <br>
          I aim to find the most practical solution. </p>
        
        <p class="view"><a href="https://www.linkedin.com/in/dimhoogeveen/?locale=en_US" title="Click here to go to my  LinkedIn profile"> <i class="fab fa-linkedin"></i> Dim Hoogeveen </a> <br>
        <a href="mailto:d.c.m.hoogeveen@gmail.com?SUBJECT=Response%20Online%20Resume" title="Click here to mail me"><i class="fas fa-envelope"></i> d.c.m.hoogeveen@gmail.com </a> <br>
        <a href="https://t.me/dimnl" title="Click here to message me on Telegram"> <i class="fas fa-paper-plane"></i> @dimnl </a> </p>
        <p class="view"><a href="https://github.com/dimnl/dimnl.github.io/raw/master/CV_DimHoogeveen.pdf">  <i class="fas fa-file-download"></i> Download CV in .pdf </a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>&copy; 2020. &mdash; Made at <i class="fas fa-house-user"></i> by <a href="https://www.linkedin.com/in/dimhoogeveen/">Dim Hoogeveen</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
